<div class="container">
 <div class="col-md-6 col-md-offset-3">
   <h1 class='text-center'>Login</h1>

   <br>

  <%= render "layouts/flash" %>

   <%= bootstrap_form_for :user do |f| %>
     <%= f.text_field :email, hide_label: true, placeholder: "Enter Your Email", icon: "user", class: "input-lg" %>
     <%= f.password_field :password, hide_label: true, placeholder: "Enter Your Password", icon: "lock", class: "input-lg"%>
     <%= f.submit "Login", class: "btn btn-primary btn-lg btn-block" %>
   <% end %>
 </div>
</div>