<!DOCTYPE html>
<html>
<head>
  <title>LinkBoardApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <div class="navbar-header">
    <ul class="text-center" id="welcomename"><%= "Welcome, #{@current_user.name}" if @current_user %></ul>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/" class="">Home</a></li>
        <li class="active"><%= link_to 'View Posts', posts_path %> </li>
        <li class="active"><%= link_to 'Submit Post', new_post_path %> </li>
        <% if @current_user %>
          <li class="active"><%= link_to 'Logout', logout_path %></li>
        <% else %>
          <li class="active"><%= link_to 'Login', login_path %></li>
          <li class="active"><%= link_to 'Signup', signup_path %></li>
        <% end %>

      </ul>
    </div>
  </div>
</nav>

<div class"container">
<%= yield %>
</div>

</body>
</html>
